<config>
	<modules>
		<Manthan_Advancecommission>
			<version>1.0.1</version>
		</Manthan_Advancecommission>
    </modules>
    <global>
        <models>
            <advancecommission>
                <class>Manthan_Advancecommission_Model</class>
                <resourceModel>advancecommission_mysql4</resourceModel>
            </advancecommission>
            <advancecommission_mysql4>
                <class>Manthan_Advancecommission_Model_Mysql4</class>
            </advancecommission_mysql4>
        </models>
        <resources>
            <advancecommission_setup>
                <setup>
                    <module>Manthan_Advancecommission</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancecommission_setup>
            <advancecommission_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancecommission_write>
            <advancecommission_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancecommission_read>
        </resources>
        <helpers>
            <advancecommission>
                <class>Manthan_Advancecommission_Helper</class>
            </advancecommission>
        </helpers>
		<blocks>
			<advancecommission>
				<class>Manthan_Advancecommission_Block</class>
			</advancecommission>
		</blocks>
		<events>
			<sales_convert_quote_item_to_order_item>
					<observers>
						<manthan_advance_commission_sales_convert_quote_item_to_order_item>
							<type>model</type>
							<class>advancecommission/observer</class>
							<method>saveSellerToOrderItem</method>
						</manthan_advance_commission_sales_convert_quote_item_to_order_item>
					</observers>
			</sales_convert_quote_item_to_order_item>
		</events>	
    </global>
	<adminhtml>
		<layout>
            <updates>
                <advancecommission>
                    <file>advancecommission.xml</file>
                </advancecommission>
            </updates>
        </layout>
		 <menu>
            <manthan translate="title" module="adminhtml">
                <children>
					<advancecommission>
						<title>Advance Commission</title>
						<sort_order>20</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>10</sort_order>	
								<action>adminhtml/system_config/edit/section/advancecommission/</action>
							</configuration>	
						</children>
					</advancecommission>
				</children>
            </manthan>
        </menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<advancecommission translate="title" module="marketplace">
											<title>Advance Commission Section</title>
											<sort_order>200</sort_order>
										</advancecommission>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	 </adminhtml>
	 <default>
        <advancecommission>
			<commission>
				<active>1</active>
			</commission>
		</advancecommission>	
    </default>
</config>
